:root {
    --primary: rgb(240, 93, 93);
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
  }
  
  .btn--outline {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.5s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
  }
  
  .btn--large {
    padding: 12px 26px;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    padding: 8px 20px;
    transition: all 0.5s ease-out;
    background: #fff;
    color: red;
    transition: 250ms;
  }